pkgbase = catch2
	pkgdesc = Modern, C++-native, header-only, test framework for unit-tests, TDD and BDD
	pkgver = 3.5.3
	pkgrel = 1
	url = https://github.com/catchorg/catch2
	arch = x86_64
	license = Boost
	makedepends = git
	makedepends = cmake
	makedepends = python
	conflicts = catch2-v2
	source = catch2::git+https://github.com/catchorg/Catch2#commit=8ac8190e494a381072c89f5e161b92a08d98b37b?signed
	validpgpkeys = E29C46F3B8A7502860793B7DECC9C20E314B2360
	validpgpkeys = 81E70B717FFB27AFDB45F52090BBFF120F9C087B
	sha512sums = SKIP

pkgname = catch2
